<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Player</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <h1>Add Player</h1>

  
  <form>
    
    
    <label>Team: </label>
      <select name="team">
        <option value="6655feab711c2381c2dd2587">Boys Basketball</option>
        <option value="6655feee711c2381c2dd2589">Girls Basketball</option>
      </select>

    <label>First Name: </label>
    <input type="text" name ="firstname" required />

    <label>Last Name: </label>
    <input type="text" name ="lastname" required />

    <label>Jersey #: </label>
    <input type="number" name ="number" required />

    <label>Bio: </label>
    <input type="text" name ="bio" required />


    <button type= "submit">Submit:</button>  

  </form>

  <script src="addplayer.js"></script>
</body>
</html>