<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Team</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <h1>Add Team</h1>

  <!-- Create a form that takes in the attributes needed to create a new loaner item -->
  <!-- The type and color should both be text inputs, while the quantity should be a number input -->
  <!-- Make sure to include a submit input -->
  <form>
    
    <label>Team Name: </label>
    <input type="text" name ="teamname" required />

    <label>Team Image: </label>
    <input type="text" name ="teamimage" required />
   

    <button type= "submit">Submit:</button>  

  </form>

  <script src="addteam.js"></script>
</body>
</html>