<!DOCTYPE html>
<html>

<head>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  

  <nav class="navbar" style= "background-color:black">
     <a class="navbar-brand" href="/" style="color:white">
       <img src="https://image.maxpreps.io/school-mascot/e/0/e/e0ed04ef-54cc-404c-bb0b-766e0119834c.gif?version=638076292800000000&width=1024&height=1024" width="30" height="30" class="d-inline-block align-top" alt="">
       Comp Sci High Athletics
     </a>
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"style="background-color:white">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarSupportedContent" >
       <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         <li class="nav-item">

         </li>
         <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:white">
             Teams
           </a>
           <ul class="dropdown-menu">
             <li><a class="dropdown-item" href="/teams/6655feab711c2381c2dd2587">Boys Basketball </a></li>
             <li><hr class="dropdown-divider"></li>
             <li><a class="dropdown-item" href="/girlsbball">Girls Basketball</a></li>

           </ul>
         </li>

       </ul>
     </div>
   </nav>
  <div style= "padding-left:50px; padding-right:50px; padding-top:100px; padding-bottom:50px;">
     <div id="carouselExample" class="carousel slide">
       <div class="carousel-inner">
         <div class="carousel-item active" >
          <img src="/images/bball.jpeg" class="d-block w-100" alt="HTML tutorial" >


           <table class="table">
             <thead>
               <tr>
                 <th scope="col">#</th>
                 <th scope="col">First</th>
                 <th scope="col">Last</th>
                 <th scope="col">Bio</th>
               </tr>
             </thead>
             <tbody>
               <!-- <tr>
                 <th scope="row">1</th>
                 <td>Alex</td>
                 <td>Narvez</td>
                 <td>Full Bio</td>
               </tr>
               <tr>
                 <th scope="row">2</th>
                 <td>Lyric</td>
                 <td>Mateo</td>
                 <td>Full Bio</td>
               </tr>
               <tr>
                 <th scope="row">3</th>
                 <td>Mahamadou</td>
                 <td>Sylla</td>
                 <td>Full Bio</td>
               <tr>
               <tr>
                 <th scope="row">4</th>
                 <td>Tyshawn</td>
                  <td>Thomas</td>
                  <td>Full Bio</td>
                 </tr>
               <tr>

                 <th scope="row">5</th>
                  <td>Avery</td>
                   <td>Ramos</td>
                   <td>Full Bio</td>
                 </tr>
               <tr>
                 <th scope="row">6</th>
                 <td>Jamil</td>
                  <td>Compaore</td>
                  <td>Full Bio</td>
                 </tr>
               
               <tr>
                 <th scope="row">7</th>
                  <td>Arnel</td>
                   <td>Asnte</td>
                   <td>Full Bio</td>
                 
               </tr> --> 

    <%for (let i = 0; i< found.length;i++) {%>
      <tr>
         <th scope="row"><%= found[i].number%></th>
         <td><%= found[i].firstname%></td>
          <td><%=found[i].lastname%></td>
          <td><a href="/playerbiopage">Full Bio</a></td>
         </tr>
      
  <%  }%>
             </tbody>
           </table>
           
         </div>

  



  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">


</head>

<body>


      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>


</body>
</html>